.facts {
	width: 750px;	
}

.facts .list {
	position: absolute;
	width: 100%;
	top: 0;	
}

.facts .item {
	list-style: none;
	position: relative;
	width: 100%;
	padding-top: 10px;	
	margin-bottom: 4px;
	background: none !important;
}

.facts .item .rule {
	position: absolute;
	left: 33px;	
}

.facts .item .circle {
	position: absolute;
	width: 60px;
	height: 60px;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

.facts .item:nth-child(1) .circle {
	background-color: #F44336;
}

.facts .item:nth-child(2) .circle {
	background-color: #E91E63;
}

.facts .item:nth-child(3) .circle {
	background-color: #9C27B0;
}

.facts .item:nth-child(4) .circle {
	background-color: #673AB7;
}

.facts .item:nth-child(5) .circle {
	background-color: #3F51B5;
}

.facts .item:nth-child(6) .circle {
	background-color: #1976D2;
}

.facts .item:nth-child(7) .circle {
	background-color: #03A9F4;
}

.facts .item:nth-child(8) .circle {
	background-color: #00BCD4;
}

.facts .item:nth-child(9) .circle {
	background-color: #009688;
}

.facts .item:nth-child(10) .circle {
	background-color: #4CAF50;
}

.facts .item:nth-child(11) .circle {
	background-color: #8BC34A;
}

.facts .item:nth-child(12) .circle {
	background-color: #CDDC39;
}

.facts .item:nth-child(13) .circle {
	background-color: #FFEB3B;
}

.facts .item:nth-child(14) .circle {
	background-color: #FFC107;
}

.facts .item:nth-child(15) .circle {
	background-color: #FF9800;
}

.facts .item:nth-child(16) .circle {
	background-color: #FF5722;
}

.facts .item .name {
	height: 60px;
	line-height: 60px;
	margin: 10px 0 10px 0;
	padding-left: 90.0px;
	color: white;
	font-size: 1.8rem;
	font-weight: lighter;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.facts .item .value {
	display: none;
	margin: 0;
	padding-left: 90.0px;
	color: #E0E0E0;
	font-size: 1.4rem;
	text-align: left;
}

.facts .item.opened .value {
	display: block;
}

/* --------------------------------------------------------------------------------------------- */
/* MODERN THEME */

.reader.modern .facts .item .circle {
	border-radius: 0;
}
